In [5]:
#What are data structures, and why are they important

In [12]:
#A data structure is a specialized way of organizing, storing, and managing data so it can be used efficiently.
#    1)Efficiency in Operations
#   2) Better Memory Usage

In [6]:
#  Explain the difference between mutable and immutable data types with examplesP

In [13]:
#You can change the content of the object without changing its identity it called as mutable .
# Once created, you cannot change the object it called as immutable

In [14]:
#What are the main differences between lists and tuples in Python3

In [15]:
# LIST ARE MUTABLE AND TUPLE ARE IMMUTEBLE  
#LIST DENOTE BY []
#TUPLE DENOTE BY()

In [16]:
# Describe how dictionaries store data

In [17]:
#dictionary in Python stores data as key–value pairs.

#The key is like a name tag.

#Python changes the key into a number (hash) and uses that number to find where to keep the value in memory.

#This makes finding data very fast.

In [7]:
#Why might you use a set instead of a list in python

it has uniquae element and fast searching is present .

In [8]:
# What is a string in Python, and how is it different from a list

String → only text, fixed once created.

List → can hold any data, changeable anytime

In [9]:
#How do tuples ensure data integrity in Python3

Cannot change – Once made, you can’t add, remove, or update items.

No mistakes – Prevents accidental changes to important data.

Good for fixed data – Example: days of the week, coordinates.

In [10]:
# What is a hash table, and how does it relate to dictionaries in Python3

A data structure that stores data in key–value pairs and uses a hash function to find where each value is kept.

#Can lists contain different data types in Python3

10 → integer

"Hello" → string

3.14 → float

True → boolean

#Explain why strings are immutable in Python

In [11]:
Memory safety – If multiple variables point to the same string, changing it in one place would accidentally change it everywhere.

Hashing – Strings are often used as dictionary keys; immutability ensures the hash value stays the same.

Optimization – Python can store and reuse the same string in memory (string interning), which saves memory and speeds up execution.

SyntaxError: invalid character '–' (U+2013) (1626958486.py, line 1)

In [ ]:
#What advantages do dictionaries offer over lists for certain tasks3

In [ ]:
Faster lookups

Key–value storage

No need to remember indexes

Flexible keys

Better for mapping relationships

In [ ]:
#Describe a scenario where using a tuple would be preferable over a list

In [ ]:
When you need to store fixed, unchangeable data, such as geographic coordinates of a city.

In [ ]:
#How do sets handle duplicate values in Python

In [ ]:
When you add items to a set, if a value already exists, it’s ignored.

This ensures every element in a set is unique.

In [ ]:
#How does the “in” keyword work differently for lists and dictionaries

In [ ]:
List: "in" → searches values.

Dictionary: "in" → searches keys.

In [ ]:
#Can you modify the elements of a tuple? Explain why or why notP

In [ ]:
Tuples are immutable, meaning once they are created, their contents cannot be changed.

You can’t add, remove, or update elements inside a tuple.

This immutability ensures data safety and makes tuples hashable (usable as dictionary keys).

In [ ]:
#P What is a nested dictionary, and give an example of its use case3

In [ ]:
#A nested dictionary is a dictionary that has another dictionary as its value.
students = {
    "Alice": {"age": 20, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
print(students["Alice"]["grade"])

A

In [ ]:
#  Describe the time complexity of accessing elements in a dictionaryP

In [ ]:
Average case: O(1) → Constant time, because dictionaries use a hash table for quick lookups.

Worst case: O(n) → Happens rarely, only if many keys end up in the same bucket (hash collisions).

In [ ]:
#In what situations are lists preferred over dictionaries

In [ ]:
Order matters – You need to keep elements in a specific sequence.

Duplicate values allowed – Lists can store the same value multiple times.

Index-based access – You want to access items by position (e.g., my_list[0]).

Small datasets – Simpler and lighter than dictionaries for small collections.

No key–value pairing needed – You only have values, not named keys.

In [ ]:
#Explain the difference between a list and a dictionary in terms of data retrieva

List

Access by position (index).

You must know the index number of the item.

Dictionary

Access by key (label).

You don’t need to know the position — just the key name

In [ ]:
string = "bhushan"
string

'bhushan'

#Write a code to create a string with your name and print it

In [ ]:
name = " String"
name

' String'

#Write a code to find the length of the string "Hello World"

In [ ]:
string ="hello world"
len(string)

11

#Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string = "Python Programming"
string[:3]

'Pyt'

#Write a code to convert the string "hello" to uppercase

In [ ]:
string = "hello"
string.upper()

'HELLO'

#Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
string= ("I like apple")
string.replace("apple","orange")

'I like orange'

# Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
list =[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list = [1,2,3,4,5]
list.append(10)
list

[1, 2, 3, 4, 5, 10]

#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list = [1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

#Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list =['a', 'b', 'c', 'd']
list[1]

'b'

#Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list =[10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

#Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
tuple = {100,200,300}
tuple

{100, 200, 300}

# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple= ('red', 'green', 'blue', 'yellow')
tuple[-2]

'blue'

#Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple=(10,20,5,15)
print(min(tuple))

5

# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
tuple=('dog','cat','rabbit')
tuple[1]

'cat'

# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruit_basket = ('banana','apple','kiwi')
if 'kiwi' in fruit_basket:
     print ("fruit is present")
else:
     print("fruit is not present ")

fruit is present

#Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set = {'a', 'b', 'c'}
set

{'a', 'b', 'c'}

#. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
set = {1, 2, 3, 4, 5}
set.clear()
set

set()

#. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set= {1, 2, 3, 4}
set.remove(4)
set

{1, 2, 3}

# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [ ]:
set1= {1, 2, 3}
set2= {3, 4, 5}
set1|set2

{1, 2, 3, 4, 5}

# Write a code to find the intersection of two sets {1, 2, 3} and  {1, 2, 3}.

In [ ]:
set1= {1, 2, 3}
set2={1, 2, 3}
set1&set2

{1, 2, 3}

# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict ={"name", "age", "city"}
dict

{'age', 'city', 'name'}

# Write a code to add a new key-value pair "country": "USA" to the dictionary{'name': 'John', 'age': 25} .

In [ ]:

dict = {'name': 'John', 'age': 25}
dict["county"] = "USA"
dict

{'name': 'John', 'age': 25, 'county': 'USA'}

# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice